# SCRIPT OPTIONS; MODIFY VARIABLES HERE ACCORDINGLY

# Set whether script will run in (1) desktop mode, (2) mobile mode, (3) or both
run_mode = "3"

# Set to your Firefox profile directory (usually in your home directory; optional)
profile_path = "C:\Users\YourName\AppData\Roaming\Mozilla\Firefox\Profiles\abcd1234.default"

# Set to path of Gecko webdriver binary (should be in root directory)
driver_path = ".\geckodriver.exe"

# Set whether to automatically login to Microsoft account; (True) or (False)
auto_login = "False"

# Provide your Microsoft login email/id (optional)
my_username = "your-email-id"

# Provide your Microsoft login password (optional)
my_password = "your-password"